<main>
    <div class="whatWeDo productsSection careerSection">
        <section class="container">
           <div class="row d-flex align-items-center">
              <!-- BLOG POST IMAGE -->
              <div class="col-lg-6 sliderSection">
                 <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                     <div class="carousel-inner">
                       <div class="carousel-item active">
                         <img src="assets/images/product_new.png" class="d-block w-100" alt="...">
                       </div>
                     </div>
                   </div>
              </div>
              <!-- BLOG POST TEXT -->
              <div class="col-lg-6 product-drone-text blog-post-txt">
                 <!-- Post Link -->
                 <h5 class="h5-xl">About Us</h5>
                 <!-- Text -->
                 <p class="p-lg">
                     Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, odio tempora. Ipsum rerum quibusdam obcaecati deleniti. Nihil, alias accusamus, earum atque provident animi eaque assumenda deleniti rerum autem explicabo tempora!
                 </p>
              </div>
           </div>
        </section>
     </div>
    <div class="whatWeDo noLimit paddingTop ourMission darkBg">
        <span class="noLimitImage background-100"></span>
        <section id="ourHistory" class="container">
            <div class="left-section">
                <h4>OUR<strong>History</strong></h4>
                <p>To develop actionable, multipurpose drones that solve everyday problems from autonomous last-mile delivery to emergency response and infrastructure repair.</p>
            </div>
        </section>
    </div>
    <div class="whatWeDo noLimit paddingTop addressSection">
        <span class="noLimitImage"></span>
        <section id="ourMission" class="container">
            <div class="left-section">
                <h4>OUR<strong>MISSION</strong></h4>
                <p>At Roter Group of Companies, we are dedicated to delivering multidisciplinary technological solutions, rooted in a rich legacy spanning over 80 years. We excel at providing advanced flying technology and comprehensive software solutions designed to meet the diverse needs of industries such as geospatial surveying and security. Our innovative approach ensures that professionals can focus on tasks like mapping and monitoring, leaving the intricate aspects of technology management to us. Whether it's coordinating flights or managing cameras, we handle the technological intricacies, enabling our clients to navigate the ever-evolving tech sphere and focus on their core business functions.</p>
            </div>
        </section>
    </div>
    <div class="whatWeDo noLimit paddingTop ourMission darkBg">
        <span class="noLimitImage background-100"></span>
        <section id="ourVision" class="container">
            <div class="left-section">
                <h4>OUR<strong>Vision</strong></h4>
                <p>To establish ourselves as leading technology evangelists in the realms of geospatial intelligence, robotics, and artificial intelligence. We envision pioneering advancements, setting industry benchmarks, and driving transformative innovations that shape the future of these interconnected domains.</p>
            </div>
        </section>
    </div>
    <div class="whatWeDo noLimit paddingTop addressSection ourPeople">
        <section id="ourPeople" class="container">
            <div class="left-section">
                <h4>OUR<strong>PEOPLE</strong></h4>
                <p>To develop actionable, multipurpose drones that solve everyday problems from autonomous last-mile delivery to emergency response and infrastructure repair.</p>
                <ul class="ourPeopleListing">
                    <li>
                        <span>
                            <img src="assets/images/profileImage/18.jpg" alt="">
                        </span>
                        <h5>Sajid Mukhtar</h5>
                        <p>Managing Director</p>
                    </li>
                    <li>
                        <span>
                            <img src="assets/images/profileImage/15.jpg" alt="">
                        </span>
                        <h5>Jawahar Devairakkam</h5>
                        <p>Technical Director</p>
                    </li>
                    <li>
                        <span>
                            <img src="assets/images/profileImage/16.jpg" alt="">
                        </span>
                        <h5>Saad Ibrahim</h5>
                        <p>COO</p>
                    </li>
                    <li>
                        <span>
                            <img src="assets/images/profileImage/17.jpg" alt="">
                        </span>
                        <h5>Hari Kumar</h5>
                        <p>CTO</p>
                    </li>
                    <li>
                        <span>
                            <img src="assets/images/profileImage/10.jpg" alt="">
                        </span>
                        <h5>Abhishekk Anand</h5>
                        <!-- <p>Designation</p> -->
                    </li>
                    <li>
                        <span>
                            <img src="assets/images/profileImage/12.jpg" alt="">
                        </span>
                        <h5>Abhishek Sharma</h5>
                        <!-- <p>Designation</p> -->
                    </li>
                    <li>
                        <span>
                            <img src="assets/images/profileImage/13.jpg" alt="">
                        </span>
                        <h5>Ankit Sharma</h5>
                        <!-- <p>Designation</p> -->
                    </li>
                    <li>
                        <span>
                            <img src="assets/images/profileImage/14.jpg" alt="">
                        </span>
                        <h5>Aman Tyagi</h5>
                        <!-- <p>Designation</p> -->
                    </li>
                    <li>
                        <span>
                            <img src="assets/images/profileImage/4.jpg" alt="">
                        </span>
                        <h5>Gulfam</h5>
                        <!-- <p>Designation</p> -->
                    </li>
                    <li>
                        <span>
                            <img src="assets/images/profileImage/5.jpg" alt="">
                        </span>
                        <h5>Mohd. Arshad</h5>
                        <!-- <p>Designation</p> -->
                    </li>
                    <li>
                        <span>
                            <img src="assets/images/profileImage/6.jpg" alt="">
                        </span>
                        <h5>Mohd. Haseen</h5>
                        <!-- <p>Designation</p> -->
                    </li>
                    <li>
                        <span>
                            <img src="assets/images/profileImage/7.jpg" alt="">
                        </span>
                        <h5>Sandeep</h5>
                        <!-- <p>Designation</p> -->
                    </li>
                    <li>
                        <span>
                            <img src="assets/images/profileImage/8.jpg" alt="">
                        </span>
                        <h5>Sarthak Dangwal</h5>
                        <!-- <p>Designation</p> -->
                    </li>
                    <li>
                        <span>
                            <img src="assets/images/profileImage/11.jpg" alt="">
                        </span>
                        <h5>Smriti Jain</h5>
                        <!-- <p>Designation</p> -->
                    </li>
                    <li>
                        <span>
                            <img src="assets/images/profileImage/9.jpg" alt="">
                        </span>
                        <h5>Vijay</h5>
                        <!-- <p>Designation</p> -->
                    </li>
                </ul>
            </div>
        </section>
    </div>
    <div class="whatWeDo noLimit paddingTop ourMission darkBg">
        <span class="noLimitImage background-100"></span>
        <section id="lifeAtRouter" class="container">
            <div class="left-section">
                <h4>LIFE AT<strong>ROUTER</strong></h4>
                <p>To develop actionable, multipurpose drones that solve everyday problems from autonomous last-mile delivery to emergency response and infrastructure repair.</p>
            </div>
        </section>
    </div>
    <div class="whatWeDo contact-section">
       <section class="container">
          <h3></h3>
          <div class="form-container">
             <span class="drone-icon"></span>
             <h4>want to know more? <strong>contact us!</strong></h4>
             <form  id="contact">
                <div class="form-group row">
                   <div class="col-sm-12">
                      <input type="text" class="form-control" id="inputEmail3" placeholder="NAME">
                   </div>
                </div>
                <div class="form-group row">
                   <div class="col-sm-12">
                      <input type="email" class="form-control" id="inputPassword3" placeholder="EMAIL">
                   </div>
                </div>
                <div class="form-group row">
                   <div class="col-sm-12">
                      <textarea rows="4" type="email" class="form-control" id="inputPassword3" placeholder="MESSAGE"></textarea>
                   </div>
                </div>
                <div class="form-group row">
                   <div class="col-sm-12">
                      <div class="form-check">
                         <input class="form-check-input" type="checkbox" id="gridCheck1">
                         <label class="form-check-label" for="gridCheck1">
                         I confirm that my data will be shared with the entire Internet
                         </label>
                      </div>
                   </div>
                </div>
                <div class="form-group row">
                   <div class="col-sm-10">
                      <button type="submit" class="btn">Contact us</button>
                   </div>
                </div>
             </form>
          </div>
       </section>
    </div>
 </main>