<main>
    <div class="whatWeDo productsSection careerSection moreInsightbanner">
       <section class="container">
           <div class="row d-flex align-items-center">
              <h5>Blog 1</h5>
              <hr style="margin: 0 0 20px;" />
             <!-- BLOG POST TEXT -->
             <img src="assets/images/client1.png" alt="">
                <!-- BLOG POST TEXT -->
                <p>SAMPLE TEXT: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione perferendis in ipsa doloremque voluptates officia sunt! Laborum voluptatibus iure suscipit totam incidunt sint cupiditate, repellat, soluta dolorem ullam, nihil temporibus.</p>
                <p>Meet our team in the event date, 2023</p>
                <ul>
                   <li>Discover over 200 exhibitors, products, innovations.</li>
                   <li>Coming soon!</li>
                </ul>
                <p>Stay tuned!</p>
          </div>
       </section>
    </div>
    <app-contact-us></app-contact-us>
 </main>