
		<!-- HEADER
			============================================= -->
            <header id="header" class="header tra-menu navbar-dark">
                <div class="header-wrapper navbar-dark bg-dark">
    
    
                    <!-- MOBILE HEADER -->
                    <div class="wsmobileheader clearfix">
                        <span class="smllogo">
                            <a href="/" class="roterLogo roterLogoMobile disabled">
                                <!-- Roter <strong>copter</strong> -->
                                <!-- <img src="assets/images/roterlogo.svg" alt="mobile-logo"> -->
                                <img src="assets/images/logoRouter.png" alt="header-logo">
                            </a>
                        </span>
                        <a id="wsnavtoggle" class="wsanimated-arrow"><span></span></a>
                    </div>
    
    
                    <!-- NAVIGATION MENU -->
                    <div class="container menu clearfix">
                        <div class="wsmainwp clearfix">
    
    
                            <!-- HEADER LOGO -->
                            <div class="desktoplogo">
                                <a href="/" class="roterLogo logo-black disabled">
                                    <!-- Roter <strong>copter</strong> -->
                                    <img src="assets/images/logoRouter.png" alt="header-logo">
                                </a>
                            </div>
                            <div class="desktoplogo"><a href="/" class="logo-white disabled"><img src="assets/images/logoRouter.png" alt="header-logo"></a></div>
    
    
                            <!-- MAIN MENU -->
                            <nav class="wsmenu clearfix"><div class="overlapblackbg"></div>
                                <ul class="wsmenu-list nav-yellow-hover">
    
                                    <li class="n1-simple"><a href="/">HOME</a></li>
    
                                    <!-- DROPDOWN MENU -->
                                    <li aria-haspopup="true"><span class="wsmenu-click"><i class="wsmenu-arrow"></i></span><a href="/">Products<span class="wsarrow"></span></a>
                                        <!-- Links -->
                                        <ul class="sub-menu">
                                            <li><a routerLink="/products">Agriculture</a></li>
                                            <ul>
                                                <li>UAV
                                                    <ul>
                                                        <li>Surveying and Mapping
                                                            <ul>
                                                                <li>Trinity F90+</li>
                                                                <li>RC08</li>
                                                            </ul>
                                                        </li>
                                                        <li>ISR
                                                            <ul>
                                                                <li>Vector</li>
                                                                <li>Scorpion</li>
                                                                <li>RC08</li>
                                                            </ul>
                                                        </li>
                                                        <li>Multi-purpose
                                                            <ul>
                                                                <li>RC08</li>
                                                                <li>Velos V3</li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>

                                            <ul>
                                                <li>LiDAR
                                                    <ul>
                                                        <li>Aerial
                                                            <ul>
                                                                <li>yellowscan--&gt; Voyager</li>
                                                                <li>Yellowscan--&gt;Fly&amp;Drive</li>
                                                                <li>VX-20 series[100,200]</li>
                                                                <li>Vx-15 series[100,300]</li>
                                                                <li>Surveyor Ultra</li>
                                                                <li>Explorer</li>
                                                                <li>Mapper</li>
                                                                <li>Mapper+</li>
                                                            </ul>
                                                        </li>
                                                        <li>Terrestrial
                                                            <ul>
                                                                <li>3d --&gt; Z+F IMAGER®5016r</li>
                                                                <li>3d--&gt; Z+F IMAGER®5016A</li>
                                                                <li>2d --&gt; Z+F PROFILER® 9012</li>
                                                                <li>2d--&gt; Z+F PROFILER® 9012 A</li>
                                                                <li>2d--&gt; Z+F PROFILER® 9012 M</li>
                                                                <li>2d - -&gt; Z+F
                                                                    PROFILER® 9020</li>
                                                                <li>2d - -&gt; Z+F
                                                                    PROFILER® 9020 c</li>
                                                            </ul>
                                                        </li>
                                                        <li>Underground
                                                            <ul>
                                                                <li>Z+F IMAGER® 5006EX</li>
                                                                <li>cavity monitoring system -- &gt; GSM-16</li>
                                                                <li>GeoSight Scout</li>
                                                                <li>GeoSight
                                                                    NX150</li>
                                                            </ul>
                                                        </li>
                                                        <li>Mobile
                                                            <ul>
                                                                <li>Z+F FlexScan 22</li>
                                                                <li>HERON [All parts
                                                                    will be included in
                                                                    this only]</li>
                                                                <Li>Gexcel - -&gt; 3D-FORENSICS</Li>
                                                            </ul>
                                                        </li>
                                                        <li>GPR
                                                            <ul>
                                                                <li>CONQUEST 100</li>
                                                                <li>LMX150™ FINDAR</li>
                                                                <li>NOGGIN® Ultra 100</li>
                                                                <li>Noggin 100</li>
                                                                <li>NOGGIN® 250</li>
                                                                <li>NOGGIN 500</li>
                                                                <li>NOGGIN® 1000</li>
                                                                <li>pulseEKKO®</li>
                                                                <li>IceMap</li>
                                                                <li>Rescue Radar</li>
                                                            </ul>
                                                        </li>
                                                        <li>Solutions
                                                            <ul>
                                                                <li>OPMMS</li>
                                                                <li>IOT of Mines</li>
                                                                <Li>Airports</Li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>

                                            <li aria-haspopup="true"><span class="wsmenu-click"><i class="wsmenu-arrow"></i></span><a href="/">Mining<span class="wsarrow"></span></a>
                                                <!-- Links -->
                                                <ul class="sub-menu">
                                                    <li><a routerLink="/products">Agriculture</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li> <!-- END DROPDOWN MENU -->
    
    
                                    <!-- DROPDOWN MENU -->
                                    <li aria-haspopup="true"><span class="wsmenu-click"><i class="wsmenu-arrow"></i></span><a href="#">Insights<span class="wsarrow"></span></a>
                                        <!-- Links -->
                                        <ul class="sub-menu">
                                            <li><a routerLink="/insight">Case study</a></li>
                                            <li><a routerLink="/insight">Industry</a></li>
                                            <li><a routerLink="/events">Events</a></li>
                                        </ul>
                                    </li> <!-- END DROPDOWN MENU -->

                                    <!-- DROPDOWN MENU -->
                                    <li aria-haspopup="true"><span class="wsmenu-click"><i class="wsmenu-arrow"></i></span><a href="#">About us<span class="wsarrow"></span></a>
                                        <!-- Links -->
                                        <ul class="sub-menu">
                                            <li><a (click)="navigateToAbout('ourHistory')">Our history</a></li>
                                            <li><a (click)="navigateToAbout('ourMission')">Our mission</a></li>
                                            <li><a (click)="navigateToAbout('ourVision')">Vision</a></li>
                                            <li><a (click)="navigateToAbout('ourPeople')">People</a></li>
                                            <li><a (click)="navigateToAbout('lifeAtRouter')">Life at Roter</a></li>
                                            <li><a routerLink="/careers">Careers</a></li>
                                        </ul>
                                    </li> <!-- END DROPDOWN MENU -->
    
                                    <!-- <li class="n1-simple"><a href="#" target="_blank">About us</a></li> -->
                                    <li class="n1-simple">
                                        <a class="btn btn-yellow contactUsBtn" href="#contact"><span class="demo">DEMO</span> <span class="sales">SALES</span></a>
                                        <a class="contactUsBtnMobile" href="#contact">DEMO AND SALES</a>
                                    </li>
    
                                </ul>
                            </nav> <!-- END MAIN MENU -->
    
    
                        </div>
                    </div> <!-- END NAVIGATION MENU -->
    
    
                </div> <!-- End header-wrapper -->
            </header> <!-- END HEADER -->