
		<!-- HEADER
			============================================= -->
            <header id="header" class="header tra-menu navbar-dark">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <div class="container headerLogo">
                      <a class="navbar-brand fw-bold" routerLink="/">
                        <img class="img-responsive" src="assets/images/logoRouter.png" alt="ROUTER">
                      </a>
                      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                          <li class="nav-item">
                            <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
                          </li>
                          <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Products
                            </a>
                            <!-- <ul class="dropdown-menu">
                              <li class="nav-item dropend">
                                <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Agriculture
                                </a>
                                
                              </li>
                            </ul> -->
                            <ul class="dropdown-menu">
                              <li class="nav-item dropend">
                                <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    UAV
                                </a>
                                <ul class="dropdown-menu">
                                  <li class="nav-item dropend">
                                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Surveying and Mapping
                                    </a>
                                    <ul class="dropdown-menu">
                                      <li><a routerLink="/products" class="dropdown-item">Trinity F90+</a></li>
                                      <li><a routerLink="/products" class="dropdown-item">RC08</a></li>
                                    </ul>
                                  </li>
                                  <li class="nav-item dropend">
                                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        ISR
                                    </a>
                                    <ul class="dropdown-menu">
                                      <li><a routerLink="/products" class="dropdown-item">Vector</a></li>
                                      <li><a routerLink="/products" class="dropdown-item">Scorpion</a></li>
                                      <li><a routerLink="/products" class="dropdown-item">RC08</a></li>
                                    </ul>
                                  </li>
                                  <li class="nav-item dropend">
                                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Multi-purpose
                                    </a>
                                    <ul class="dropdown-menu">
                                      <li><a routerLink="/products" class="dropdown-item">RC08</a></li>
                                      <li><a routerLink="/products" class="dropdown-item">Velos V3</a></li>
                                    </ul>
                                  </li>
                                </ul>
                              </li>
                              <li class="nav-item dropend">
                                <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    LIDAR
                                </a>
                                <ul class="dropdown-menu">
                                  <li class="nav-item dropend">
                                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Aerial
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" routerLink="/products">yellowscan--&gt; Voyager</a></li>
                                        <li><a class="dropdown-item" routerLink="/products">Yellowscan--&gt;Fly&amp;Drive</a></li>
                                        <li><a class="dropdown-item" routerLink="/products">VX-20 series[100,200]</a></li>
                                        <li><a class="dropdown-item" routerLink="/products">Vx-15 series[100,300]</a></li>
                                        <li><a class="dropdown-item" routerLink="/products">Surveyor Ultra</a></li>
                                        <li><a class="dropdown-item" routerLink="/products">Explorer</a></li>
                                        <li><a class="dropdown-item" routerLink="/products">Mapper</a></li>
                                        <li><a class="dropdown-item" routerLink="/products">Mapper+</a></li>
                                    </ul>
                                  </li>
                                  <li class="nav-item dropend">
                                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Terrestrial
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" routerLink="/products">3d --&gt; Z+F IMAGER®5016r</a></li>
                                        <li><a class="dropdown-item" routerLink="/products">3d--&gt; Z+F IMAGER®5016A</a></li>
                                        <li><a class="dropdown-item" routerLink="/products">2d --&gt; Z+F PROFILER® 9012</a></li>
                                        <li><a class="dropdown-item" routerLink="/products">2d--&gt; Z+F PROFILER® 9012 A</a></li>
                                        <li><a class="dropdown-item" routerLink="/products">2d--&gt; Z+F PROFILER® 9012 M</a></li>
                                        <li><a class="dropdown-item" routerLink="/products">2d - -&gt; Z+F
                                            PROFILER® 9020</a></li>
                                        <li><a class="dropdown-item" routerLink="/products">2d - -&gt; Z+F
                                            PROFILER® 9020 c</a></li>
                                    </ul>
                                  </li>
                                  <li class="nav-item dropend">
                                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Underground
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" routerLink="/products">Z+F IMAGER® 5006EX</a></li>
                                        <li><a class="dropdown-item" routerLink="/products">cavity monitoring system -- &gt; GSM-16</a></li>
                                        <li><a class="dropdown-item" routerLink="/products">GeoSight Scout</a></li>
                                        <li><a class="dropdown-item" routerLink="/products">GeoSight NX150</a></li>
                                    </ul>
                                  </li>
                                </ul>
                              </li>
                              <li class="nav-item dropend">
                                <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Mobile
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" routerLink="/products">Z+F FlexScan 22</a></li>
                                    <li><a class="dropdown-item" routerLink="/products">HERON [All parts will be included in this only]</a></li>
                                    <li><a class="dropdown-item" routerLink="/products">Gexcel - -&gt; 3D-FORENSICS</a></li>
                                </ul>
                              </li>
                              <li class="nav-item dropend">
                                <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    GPR
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" routerLink="/products">CONQUEST 100</a></li>
                                    <li><a class="dropdown-item" routerLink="/products">LMX150™ FINDAR</a></li>
                                    <li><a class="dropdown-item" routerLink="/products">NOGGIN® Ultra 100</a></li>
                                    <li><a class="dropdown-item" routerLink="/products">Noggin 100</a></li>
                                    <li><a class="dropdown-item" routerLink="/products">NOGGIN® 250</a></li>
                                    <li><a class="dropdown-item" routerLink="/products">NOGGIN 500</a></li>
                                    <li><a class="dropdown-item" routerLink="/products">NOGGIN® 1000</a></li>
                                    <li><a class="dropdown-item" routerLink="/products">pulseEKKO®</a></li>
                                    <li><a class="dropdown-item" routerLink="/products">IceMap</a></li>
                                    <li><a class="dropdown-item" routerLink="/products">Rescue Radar</a></li>
                                </ul>
                              </li>
                              <li class="nav-item dropend">
                                <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Solutions
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" routerLink="/products">OPMMS</a></li>
                                    <li><a class="dropdown-item" routerLink="/products">IOT of Mines</a></li>
                                    <li><a class="dropdown-item" routerLink="/products">Airports</a></li>
                                </ul>
                              </li>
                            </ul>
                          </li>
                          <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Insights
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" routerLink="/insight">Case study</a></li>
                                <li><a class="dropdown-item" routerLink="/insight">Industry</a></li>
                                <li><a class="dropdown-item" routerLink="/events">Events</a></li>
                            </ul>
                          </li>
                          <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                About us
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" (click)="navigateToAbout('ourHistory')">Our history</a></li>
                                <li><a class="dropdown-item" (click)="navigateToAbout('ourMission')">Our mission</a></li>
                                <li><a class="dropdown-item" (click)="navigateToAbout('ourVision')">Vision</a></li>
                                <li><a class="dropdown-item" (click)="navigateToAbout('ourPeople')">People</a></li>
                                <li><a class="dropdown-item" (click)="navigateToAbout('lifeAtRouter')">Life at Roter</a></li>
                                <li><a class="dropdown-item" routerLink="/careers">Careers</a></li>
                            </ul>
                          </li>
                          <li class="n1-simple">
                            <a class="btn btn-yellow contactUsBtn" href="#contact"><span class="demo">DEMO</span> <span class="sales">SALES</span></a>
                            <a class="contactUsBtnMobile" href="#contact">DEMO AND SALES</a>
                        </li>
                        </ul>
                      </div>
                    </div>
                  </nav>
            </header> <!-- END HEADER -->