.contactUsBtn:hover {
    background: #333 !important;
}
.contactUsBtn {
    display: block !important;
}
.contactUsBtnMobile {
    display: none !important;
}
@media screen and (max-width: 990px) {
    .contactUsBtnMobile {
        display: block !important;
    }
    .contactUsBtn {
        display: none !important;
    }
}