<main>
    <div class="whatWeDo productsSection">
        <section class="container">
            <div class="row d-flex align-items-center">
                <!-- BLOG POST IMAGE -->
                <div class="col-lg-6">
                <img class="product-drone-img" src="images/products-drone/SIGMA25.png" alt="blog-post-image">
                </div>

                <!-- BLOG POST TEXT -->
                <div class="col-lg-6 product-drone-text blog-post-txt">
                <!-- Post Link -->
                <h5 class="h5-xl">Sigma 25</h5>

                <!-- Text -->
                <p class="p-lg">
                    Sigma 25 series is an under 2kg drone meant to have a perfect
                    combination of portability and performance. These drones are
                    qualified as 'Survey Grade Drone' by the Survey of India.
                </p>
                <div class="drone-specs row mt-20 mb-20 justify-content-center">
                    <div class="col specs-item">
                    <img class="specs-icon" src="images/products-drone/Drone vectors/3.png" alt="">
                    <p class="specs-val p-lg">2000 g</p>
                    <span class="tooltip-text top">Weight</span>
                    </div>
                    <div class="col specs-item">
                    <img class="specs-icon" src="images/products-drone/Drone vectors/4.png" alt="">
                    <p class="specs-val p-lg">40 min</p>
                    <span class="tooltip-text top">Flight Time</span>
                    </div>
                    <div class="col specs-item">
                    <img class="specs-icon" src="images/products-drone/Drone vectors/5.png" alt="">
                    <p class="specs-val p-lg">4000 m</p>
                    <span class="tooltip-text top">Service Ceiling</span>
                    </div>
                    <div class="col specs-item">
                    <img class="specs-icon" src="images/products-drone/Drone vectors/6.png" alt="">
                    <p class="specs-val p-lg">300 g</p>
                    <span class="tooltip-text top">Payload</span>
                    </div>
                    <div class="col specs-item">
                    <img class="specs-icon" src="images/products-drone/Drone vectors/7.png" alt="">
                    <p class="specs-val p-lg">2 km</p>
                    <span class="tooltip-text top">Range</span>
                    </div>
                </div>
                
                                    
                                        <h6>
                                            Technical Specifications
                                        </h6>
                                    
                                    
                                        
                                            Flight Time
                                            40 minutes
                                        
                                        
                                            Weight
                                            2000gm
                                        
                                        
                                            Payload Capactiy
                                            300gm
                                        
                                        
                                            Service Ceiling
                                            4000m
                                        
                                        
                                            Range
                                            2km
                                        
                                    
                                
                <h6>Features</h6>
                <ul>
                    <li>RTK/PPK: Survey grade accuracy</li>
                    <li>Portability: Single backpack</li>
                    <li>Toolless assembly: Quick deployment</li>
                    <li>
                    Reliable and Secure: Failsafe features and encrypted
                    communication
                    </li>
                    <li>Cloud connected: Predictive maintenance</li>
                </ul>

                <div class="drone-action">
                    <!-- Button -->
                    <a id="sigma-25-datasheet" class="btn btn-yellow tra-black-hover">See Datasheet</a>
                    <!-- Button -->
                    <a href="drone-contact-form.html" class="btn btn-tra-black tra-yellow-hover">Get Quote</a>
                </div>
                </div>
                <!-- END BLOG POST TEXT -->
            </div>
        </section>
          
    </div>
    <div class="whatWeDo contact-section">
        <section class="container">
            <h3></h3>
            <div class="form-container">
                <span class="drone-icon"></span>
                <h4>want to know more? <strong>contact us!</strong></h4>
                <form  id="contact">
                    <div class="form-group row">
                      <div class="col-sm-12">
                        <input type="text" class="form-control" id="inputEmail3" placeholder="NAME">
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-12">
                        <input type="email" class="form-control" id="inputPassword3" placeholder="EMAIL">
                      </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                          <textarea rows="4" type="email" class="form-control" id="inputPassword3" placeholder="MESSAGE"></textarea>
                        </div>
                      </div>
                    <div class="form-group row">
                      <div class="col-sm-12">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="gridCheck1">
                          <label class="form-check-label" for="gridCheck1">
                            I confirm that my data will be shared with the entire Internet
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-10">
                        <button type="submit" class="btn">Contact us</button>
                      </div>
                    </div>
                  </form>
            </div>
        </section>
    </div>
</main>