<main>
    <div class="whatWeDo productsSection careerSection">
       <section class="container">
          <div class="row d-flex align-items-center">
             <!-- BLOG POST IMAGE -->
             <div class="col-lg-6 sliderSection">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="assets/images/product_new.png" class="d-block w-100" alt="...">
                      </div>
                    </div>
                  </div>
             </div>
             <!-- BLOG POST TEXT -->
             <div class="col-lg-6 product-drone-text blog-post-txt">
                <!-- Post Link -->
                <h5 class="h5-xl">Insights</h5>
                <!-- Text -->
                <p class="p-lg">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt in accusantium eaque corporis quo suscipit ipsum at, tenetur ea ducimus. Nemo eius itaque non ducimus laboriosam corrupti neque expedita quibusdam.
                </p>
             </div>
          </div>
       </section>
    </div>
    <div class="whatWeDo contact-section">
       <section class="container">
          <h3></h3>
          <div class="form-container">
             <span class="drone-icon"></span>
             <h4>want to know more? <strong>contact us!</strong></h4>
             <form  id="contact">
                <div class="form-group row">
                   <div class="col-sm-12">
                      <input type="text" class="form-control" id="inputEmail3" placeholder="NAME">
                   </div>
                </div>
                <div class="form-group row">
                   <div class="col-sm-12">
                      <input type="email" class="form-control" id="inputPassword3" placeholder="EMAIL">
                   </div>
                </div>
                <div class="form-group row">
                   <div class="col-sm-12">
                      <textarea rows="4" type="email" class="form-control" id="inputPassword3" placeholder="MESSAGE"></textarea>
                   </div>
                </div>
                <div class="form-group row">
                   <div class="col-sm-12">
                      <div class="form-check">
                         <input class="form-check-input" type="checkbox" id="gridCheck1">
                         <label class="form-check-label" for="gridCheck1">
                         I confirm that my data will be shared with the entire Internet
                         </label>
                      </div>
                   </div>
                </div>
                <div class="form-group row">
                   <div class="col-sm-10">
                      <button type="submit" class="btn">Contact us</button>
                   </div>
                </div>
             </form>
          </div>
       </section>
    </div>
 </main>