<main>
    <div class="whatWeDo productsSection careerSection insightbanner">
       <section class="container">
          <div class="row d-flex align-items-center">
             <!-- BLOG POST TEXT -->
             <div class="col-lg-6 product-drone-text blog-post-txt">
                <!-- Post Link -->
                <h5 class="h5-xl">EVENT</h5>
                <!-- Text -->
                <ul>
                    <li>
                        <img src="assets/images/calander.svg" alt="">
                        <span>We'll disclouse soon</span>
                    </li>
                    <li>
                        <img src="assets/images/duration.svg" alt="">
                        <span>We'll disclouse soon</span>
                    </li>
                    <li>
                        <img src="assets/images/location.svg" alt="">
                        <span>Coming soon</span>
                    </li>
                </ul>
             </div>
             <div class="timerBlock">
                <div>
                    <p>Event Starts in:</p>
                    <button class="btn">Add Event to you calendar</button>
                </div>
                <ul>
                    <li>00 <span>days</span></li>
                    <li>00 <span>hours</span></li>
                    <li>00 <span>minutes</span></li>
                    <li>00 <span>seconds</span></li>
                </ul>
             </div>
          </div>
       </section>
    </div>
    <div class="whatWeDo productsSection careerSection insightbanner insightbannerDescSection">
      <section class="container">
         <div class="row d-flex align-items-center">
            <!-- BLOG POST TEXT -->
            <h5>Events will be coming soon 2023!</h5>
            <p>SAMPLE: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione perferendis in ipsa doloremque voluptates officia sunt! Laborum voluptatibus iure suscipit totam incidunt sint cupiditate, repellat, soluta dolorem ullam, nihil temporibus.</p>
            <p>Meet our team in the event on </p>
            <ul>
               <li>Discover over 200 exhibitors, products, innovations.</li>
               <li>Comming soon!</li>
            </ul>
         </div>
      </section>
   </div>
    <div class="whatWeDo contact-section">
       <section class="container">
          <h3></h3>
          <div class="form-container">
             <span class="drone-icon"></span>
             <h4>want to know more? <strong>contact us!</strong></h4>
             <form  id="contact">
                <div class="form-group row">
                   <div class="col-sm-12">
                      <input type="text" class="form-control" id="inputEmail3" placeholder="NAME">
                   </div>
                </div>
                <div class="form-group row">
                   <div class="col-sm-12">
                      <input type="email" class="form-control" id="inputPassword3" placeholder="EMAIL">
                   </div>
                </div>
                <div class="form-group row">
                   <div class="col-sm-12">
                      <textarea rows="4" type="email" class="form-control" id="inputPassword3" placeholder="MESSAGE"></textarea>
                   </div>
                </div>
                <div class="form-group row">
                   <div class="col-sm-12">
                      <div class="form-check">
                         <input class="form-check-input" type="checkbox" id="gridCheck1">
                         <label class="form-check-label" for="gridCheck1">
                         I confirm that my data will be shared with the entire Internet
                         </label>
                      </div>
                   </div>
                </div>
                <div class="form-group row">
                   <div class="col-sm-10">
                      <button type="submit" class="btn">Contact us</button>
                   </div>
                </div>
             </form>
          </div>
       </section>
    </div>
 </main>