<main>
    <div class="whatWeDo productsSection careerSection insightbanner productHomeBanner">
       <section class="container">
          <div class="row d-flex align-items-center">
             <!-- BLOG POST TEXT -->
             <div class="col-lg-6 product-drone-text blog-post-txt productbannerText">
                <!-- Post Link -->
                <h5 class="h5-xl">precision, power & <strong>possibilities</strong> </h5>
             </div>
          </div>
       </section>
    </div>
    <div class="whatWeDo productsSection careerSection productsbanner featuresSection">
        <section class="container">
           <div class="row d-flex align-items-center">
              <!-- BLOG POST TEXT -->
              <div class="timerBlock">
                 <ul>
                     <li>12<sub>KG</sub> <span>MTOW</span></li>
                     <li>16<sub>MIN</sub> <span>max. flighttime</span></li>
                     <li>47 <span>C-level</span></li>
                     <li>20<sub>M</sub> <span>max altitude</span></li>
                 </ul>
              </div>
              <button type="button" class="btn mx-auto mt-3">More details</button>
           </div>
        </section>
     </div>
     <div class="whatWeDo noLimit whyRouter darkBg productHome">
         <span class="noLimitImage why-roter">
            <ul>
               <li>
                     <img src="assets/images/product25.gif" alt="">
               </li>
            </ul>
         </span>
         <section class="container">
            <div class="left-section">
               <h4>Payload rail</h4>
               <p>Think about what ever you want Senior. You Name it, we build  it. Think about what ever you want Senior. You Name it, we build  it.Think about what ever you want Senior. You Name it, we build  it.Think about what ever you want Senior. </p>
            </div>
         </section>
      </div>
      <div class="whatWeDo noLimit whyRouter darkBg productHome productHome-section-2">
         <span class="noLimitImage why-roter">
            <ul>
               <li>
                     <img src="assets/images/product_section-2.png" alt="">
               </li>
            </ul>
         </span>
         <section class="container">
            <div class="left-section">
               <h4>Payload rail</h4>
               <p>Think about what ever you want Senior. You Name it, we build  it. Think about what ever you want Senior. You Name it, we build  it.Think about what ever you want Senior. You Name it, we build  it.Think about what ever you want Senior. </p>
            </div>
         </section>
      </div>
      <div class="whatWeDo noLimit whyRouter yellowBg productHome productHome-section-3">
         <span class="noLimitImage why-roter">
            <ul>
               <li>
                     <img src="assets/images/copter.png" alt="">
               </li>
            </ul>
         </span>
         <section class="container">
            <div class="left-section">
               <h4>Yellowscan <strong>mapper+</strong></h4>
               <p>YellowScan Mapper+ is a LiDAR Scanner based on the well known Livox AVIA and the Applanix APS-15. Some more nice sentences to ensure the customer loves what he reads</p>
               <ul>
                  <li class="topHeadingSensor">
                     <strong>Sensor type</strong>
                     <span>LIDAR</span>
                  </li>
                  <li>
                     <strong>mtow</strong>
                     <span>3,9 kg</span>
                     <div>
                        <p style="width: 80%;"></p>
                     </div>
                  </li>
                  <li>
                     <strong>flighttime</strong>
                     <span>40 min</span>
                     <div>
                        <p style="width: 60%;"></p>
                     </div>
                  </li>
               </ul>
            </div>
         </section>
      </div>
      <div class="whatWeDo noLimit whyRouter darkBg productHome smart-battery">
         <section class="container">
            <div class="left-section">
               <h4>Smart Battery</h4>
               <p>Think about what ever you want Senior. You Name it, we build  it. Think about what ever you want Senior. You Name it, we build  it.Think about what ever you want Senior. You Name it, we build  it.Think about what ever you want Senior. </p>
            </div>
            <span class="noLimitImage why-roter">
               <ul>
                  <li>
                        <img src="assets/images/smart-battery.png" alt="">
                        <sub>35MIN <strong>charging time</strong></sub>
                  </li>
               </ul>
            </span>
         </section>
      </div>
      <div class="whatWeDo noLimit whyRouter darkBg productHome productDisplay-section">
         <section class="container">
            <span class="noLimitImage why-roter">
               <ul>
                  <li>
                        <img src="assets/images/display.png" alt="">
                  </li>
               </ul>
            </span>
            <div class="left-section">
               <h4>Display</h4>
               <p>Think about what ever you want Senior. You Name it, we build  it. Think about what ever you want Senior. You Name it, we build  it.Think about what ever you want Senior. You Name it, we build  it.Think about what ever you want Senior.</p>
            </div>
         </section>
      </div>
      <div class="whatWeDo noLimit whyRouter darkBg productHome productHome-section-4">
         <span class="noLimitImage why-roter">
            <img src="assets/images/ourMission.png" alt="">
         </span>
      </div>
      <div class="whatWeDo noLimit whyRouter darkBg productHome productDisplay-section-5">
         <section class="container">
            <span class="noLimitImage why-roter">
               <ul>
                  <li>
                        <img src="assets/images/spec.png" alt="">
                  </li>
               </ul>
            </span>
            <div class="left-section">
               <h4>SPECS</h4>
               <ul>
                  <li>
                     <div>
                        <strong>3,9 KG</strong>
                        <span>MTOW</span>
                     </div>
                     <div>
                        <strong>2,5 KG</strong>
                        <span>empty weight</span>
                     </div>
                     <div>
                        <strong>25 V (6S)</strong>
                        <span>battery voltage</span>
                     </div>
                  </li>
                  <li>
                     <div>
                        <strong>60 min</strong>
                        <span>max flighttime</span>
                     </div>
                     <div>
                        <strong>65 km/h</strong>
                        <span>wind resistance</span>
                     </div>
                     <div>
                        <strong>IP45</strong>
                        <span>Classified</span>
                     </div>
                  </li>
                  <li>
                     <div>
                        <strong>5500 m</strong>
                        <span>max altitude</span>
                     </div>
                     <div>
                        <strong>-10 °C to +50 °C</strong>
                        <span>operation temp</span>
                     </div>
                     <div>
                        <strong>75 km/h</strong>
                        <span>max speed</span>
                     </div>
                  </li>
               </ul>
            </div>
         </section>
      </div>
   <app-contact-us></app-contact-us>
 </main>